/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

body {
  background: #EEEEF4;
  color:#999;
  font-family:Roboto;
}

h1{
  font-weight:100;
  font-size:27pt;
  color:#E43;
}

p{font-weight:300;}

.warning-content {
	position:absolute;
  top:25%;
  width:100%;
  height:300px;
  text-align:center;
  margin:0;
  
  
}
section{
  /* position: relative; */
  position: absolute;
  width:100%;
  /* height:100%; */
  background:#fff;
  padding:20px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  border-radius:5px;
  margin:0 auto;
  margin-top:20px;
  margin-bottom:20px;
  bottom:0;
  text-align: center;
}